<%- include ('includes/head.ejs') %>

</head>
<body>
<%- include('includes/navigation.ejs') %>
    <div style="height: 100vh;">
        <h1>Some error occurred!</h1>
        <p>We're working on fixing this, sorry for the inconvenience!</p>
    </div>
    

<%- include('includes/end.ejs') %>