<%- include('../includes/head') %>
<!--adding styles-->

</head>
<body>
<%- include('../includes/navigation') %>
    <h1 style="height: 100vh;" class="hello">Hello, wwww!</h1>
<%- include('../includes/end') %>